<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav') %>
    <div class="about-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate totam in corrupti necessitatibus pariatur. Nisi ex tempore earum cumque hic. Deleniti aliquid illum dolor eligendi ea quis quisquam. Voluptatum?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>